header {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  span {
    font-size: 24px;
    font-weight: 700;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
    user-select: none;
  }
}
