* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  a {
    text-decoration: none;
    color: inherit;
  }
}

$iconSwitchColor: #fbde3c;
$bgToggle: #2b6da6;
$textShadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
$boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

.darkTheme {
  background-color: rgba(7, 49, 85, 0.527);
  color: #fff;
  box-shadow: $boxShadow;
}

.lightTheme {
  background-color: #fff;
  color: #111;
  box-shadow: $boxShadow;
}

#App {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
  }
}
