.item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 4px 8px;
  &:hover {
    font-weight: 700;
    background: rgb(1, 147, 207);
  }

  span {
    margin-left: 4px;
  }
}
